$progress-bars-colors-support-parser: (
    outline-color: null,
    border-color: null,
    background-color: null,
    meter-background-color: color,
    meter-info-color: 'background-inner-color'
) !default;

$progress-bars-colors-support-extra-colors-palette: () !default;
$progress-bars-colors-support-class-colors-palette: null !default;
